body {
    margin: 0;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 24;
    background-color: white;
}

.section {
    position: relative;
    height: 550px;
    text-align: center;
    overflow: hidden;
}

.greeting-section {
    height: 700px;
    background-image: url(https://images.unsplash.com/photo-1581373449483-37449f962b6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.greeting-message-wrapper {
    font-size: 72;
    text-align: center;
    padding-top: 350px;
    padding-bottom: 75px;
    margin: auto;
    color: white;
}

.social-icons {
    max-width: 800px;
    margin: auto;
}

.bio-section {
    background-color: #26a7de;
}

.bio-section-text {
    margin: auto;
    max-width: 800px;
    padding: 200px 10px;
}

.bio-section-paragraph {
    margin: 0;
}

.interests-section {
    background-color: black;
}

.interests-section-text {
    color: white;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
}

.interests-section-paragraph {
    position: relative;
    top: 230px;
    margin: auto;
}

.contact-section {
    background-color: #1ABC9C;
}

.contact-button {
    color: black;
    height: 100px;
    width: 200px;
    border: 5px solid white;
    border-radius: 50px;
    background-color: white;
    margin-top: 225px;
    font-size: 20px;
}

.contact-button:hover {
    background-color: lightgray;
    border-color: lightgrey;
}

.contact-button:active {
    background-color: #C1C1C1;
}